body{
    margin: auto;
    padding: 0;
    background-color: grey;
}

header{
    display: flex;
    position: relative;
    background-color: rgb(77, 67, 74);
    width: 100%;
}

.left p{
    margin-top: 20px;
    margin-left: 100px;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
}

.navbar nav ul{
    display: flex;
    margin-left: 400px;
    margin-top: 40px;
    list-style: none;
}

.navbar nav ul li a{
    list-style-type: none;
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    margin-top: 20px ;    
}

.navbar nav ul li a{
    text-decoration: none;
}

.navbar nav ul li a:hover{
    font-size: 22px;
    color: rgb(233, 91, 233);
    text-decoration: underline;
}