{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    <footer class="footer">
        <div class="container1">
            <div class="row5">
                <div class="footer-col">
                    <h4>Fit Hit Gym</h4>
                    <ul>
                        <li><a href="">HOME</a></li>
                        <li><a href="/classes">CLASSES</a></li>
                        <li><a href="/about">ABOUT US</a></li>
                        <li><a href="/contact">CONTACT US</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>CLASSES</h4>
                    <ul>
                        <li><a href="/templates/photo.html">Basic Fitness</a></li>
                        <li><a href="/templates/photo.html">Muscle Training</a></li>
                        <li><a href="/templates/photo.html">Yoga Training</a></li>
                        <li><a href="/templates/photo.html">Body Building</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><a><i class="fa fa-phone" aria-hidden="true"></i><p>94780 20036</p></a></li>
                        <li><a><i class="fa fa-envelope" aria-hidden="true"></i><p>jyoti20015027@gamil.com</p></a></li>                        
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>